<h1>Welcome! It's Time To Share</h1>

 <p> Please <%= link_to "Sign Up", new_user_path %>  or <%= link_to "Log In", log_in_path%> to continue.</p>

  <%= button_to "Log in with Google", '/auth/google_oauth2' %>